.coach {
  background-color: #ffffff;
  width: 100%;
  min-width: 1442px;
  min-height: 3603px;
  position: relative;
}

.coach .navigation {
  top: 0;
  left: 0;
  height: 164px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: calc(100% - 2px);
}

.coach .text-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 39px;
  width: 592px;
  height: 85px;
  margin-left: 101px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: var(--title-page-font-family);
  font-weight: var(--title-page-font-weight);
  color: #00000033;
  font-size: var(--title-page-font-size);
  letter-spacing: var(--title-page-letter-spacing);
  line-height: var(--title-page-line-height);
  font-style: var(--title-page-font-style);
}

.coach .navbar {
  display: flex;
  margin-top: 56px;
  width: 560px;
  height: 52px;
  position: relative;
  margin-right: 53px;
  align-items: center;
  justify-content: flex-end;
  gap: var(--variable-collection-spacing-m);
}

.coach .div {
  margin-left: -118px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: #000000;
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  white-space: nowrap;
  font-style: var(--body-text-font-style);
}

.coach .text-wrapper-2 {
  margin-left: -13px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: #000000;
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  white-space: nowrap;
  font-style: var(--body-text-font-style);
}

.coach .text-wrapper-3 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: #000000;
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  white-space: nowrap;
  font-style: var(--body-text-font-style);
}

.coach .button {
  all: unset;
  box-sizing: border-box;
  justify-content: center;
  padding: 14px 24px;
  flex: 0 0 auto;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  background-color: #29276e;
  border-radius: 8px;
  box-shadow: var(--button-shadow);
}

.coach .text-wrapper-4 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  color: #ffffff;
  font-size: var(--small-text-font-size);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  white-space: nowrap;
  font-style: var(--small-text-font-style);
}

.coach .copy {
  width: 35.78%;
  top: 926px;
  left: 5.55%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
}

.coach .text-wrapper-5 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Kavoon-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 48px;
}

.coach .p {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #828282;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
}

.coach .text-wrapper-6 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 516px;
  height: 108px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #828282;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
}

.coach .buttons {
  position: relative;
  width: 146px;
  height: 60px;
}

.coach .div-wrapper {
  all: unset;
  box-sizing: border-box;
  padding: 12px 24px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  background-color: #29276e;
  border-radius: 8px;
  box-shadow: var(--button-shadow);
}

.coach .text-wrapper-7 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.coach .button-wrapper {
  position: absolute;
  top: 2055px;
  left: 104px;
  display: flex;
  width: 146px;
  height: 60px;
}

.coach .button-2 {
  all: unset;
  box-sizing: border-box;
  width: 146px;
  height: 60px;
  padding: 12px 24px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  background-color: #29276e;
  border-radius: 8px;
  box-shadow: var(--button-shadow);
}

.coach .buttons-2 {
  position: absolute;
  top: 1598px;
  left: 854px;
  display: flex;
  width: 146px;
  height: 60px;
}

.coach .copy-2 {
  width: 35.78%;
  top: 1406px;
  left: 58.53%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
}

.coach .text-wrapper-8 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  font-family: var(--subheading-font-family);
  font-weight: var(--subheading-font-weight);
  color: #828282;
  font-size: var(--subheading-font-size);
  letter-spacing: var(--subheading-letter-spacing);
  line-height: var(--subheading-line-height);
  font-style: var(--subheading-font-style);
}

.coach .copy-3 {
  width: 35.78%;
  top: 2766px;
  left: 13.8%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
}

.coach .text-wrapper-9 {
  position: absolute;
  top: 3128px;
  left: 141px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 48px;
  white-space: nowrap;
}

.coach .copy-4 {
  width: 35.78%;
  top: 1848px;
  left: 8.11%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
}

.coach .copy-5 {
  width: 516px;
  top: 2276px;
  left: 809px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
}

.coach .image {
  position: absolute;
  width: 26.35%;
  top: 838px;
  left: 60.33%;
  height: 400px;
  display: flex;
  border-radius: 5000px;
  overflow: hidden;
  background: linear-gradient(
    0deg,
    rgba(247, 247, 247, 1) 0%,
    rgba(247, 247, 247, 1) 100%
  );
}

.coach .img {
  width: 380px;
  height: 400px;
  aspect-ratio: 0.95;
}

.coach .image-2 {
  position: absolute;
  top: 1386px;
  left: 117px;
  width: 494px;
  height: 419px;
  aspect-ratio: 1.18;
}

.coach .image-3 {
  position: absolute;
  top: 1718px;
  left: 844px;
  width: 460px;
  height: 481px;
  aspect-ratio: 0.96;
}

.coach .image-4 {
  position: absolute;
  top: 2656px;
  left: 809px;
  width: 483px;
  height: 493px;
  aspect-ratio: 0.98;
}

.coach .buttons-3 {
  position: absolute;
  top: 2490px;
  left: 861px;
  display: flex;
  width: 146px;
  height: 60px;
}

.coach .buttons-4 {
  position: absolute;
  top: 2934px;
  left: 191px;
  display: flex;
  width: 146px;
  height: 60px;
}

.coach .navigation-footer {
  left: 2px;
  bottom: 0;
  height: 264px;
  background-color: #ffffff;
  position: absolute;
  width: calc(100% - 2px);
}

.coach .items {
  right: 517px;
  display: flex;
  flex-direction: column;
  width: 187px;
  align-items: flex-end;
  justify-content: center;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
  top: 48px;
}

.coach .text-wrapper-10 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  color: #000000;
  font-size: var(--small-text-font-size);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  font-style: var(--small-text-font-style);
}

.coach .text-wrapper-11 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  color: #444444;
  font-size: var(--small-text-font-size);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  font-style: var(--small-text-font-style);
}

.coach .items-2 {
  right: 298px;
  display: flex;
  flex-direction: column;
  width: 187px;
  align-items: flex-end;
  justify-content: center;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
  top: 48px;
}

.coach .items-3 {
  right: 80px;
  display: flex;
  flex-direction: column;
  width: 187px;
  align-items: flex-end;
  justify-content: center;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
  top: 48px;
}

.coach .text-wrapper-12 {
  position: absolute;
  top: 52px;
  left: 80px;
  width: 371px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 45px;
}

.coach .divider {
  position: absolute;
  top: 0;
  left: 80px;
  width: 1280px;
  height: 1px;
  object-fit: cover;
}

.coach .group {
  position: absolute;
  top: 144px;
  left: 80px;
  width: 333px;
  height: 72px;
}

.coach .rd {
  position: absolute;
  top: 3px;
  left: 0;
  width: 71px;
  height: 65px;
  aspect-ratio: 1.08;
}

.coach .rd-2 {
  position: absolute;
  top: 0;
  left: 59px;
  width: 274px;
  height: 72px;
  aspect-ratio: 3.8;
}

.coach .image-5 {
  position: absolute;
  top: 3280px;
  left: 126px;
  width: 73px;
  height: 76px;
  aspect-ratio: 0.95;
}

.coach .image-6 {
  position: absolute;
  top: 3263px;
  left: 215px;
  width: 168px;
  height: 93px;
  aspect-ratio: 1.8;
}

.coach .image-7 {
  position: absolute;
  top: 3264px;
  left: 383px;
  width: 105px;
  height: 75px;
  aspect-ratio: 1.4;
}

.coach .image-8 {
  position: absolute;
  top: 131px;
  left: 355px;
  width: 616px;
  height: 616px;
  aspect-ratio: 1;
  object-fit: cover;
}

.coach .image-9 {
  position: absolute;
  top: 3187px;
  left: 118px;
  width: 81px;
  height: 76px;
  aspect-ratio: 1.07;
}

.coach .rectangle {
  position: absolute;
  top: 3176px;
  left: 199px;
  width: 104px;
  height: 104px;
  aspect-ratio: 1;
  object-fit: cover;
}

.coach .image-10 {
  position: absolute;
  top: 3190px;
  left: 303px;
  width: 160px;
  height: 75px;
  aspect-ratio: 2.13;
}

.coach .image-11 {
  position: absolute;
  top: 2214px;
  left: 130px;
  width: 504px;
  height: 464px;
  aspect-ratio: 1.09;
}
