.schedule {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  min-width: 1440px;
  min-height: 2115px;
  position: relative;
}

.schedule .navigation {
  top: 24px;
  left: -69px;
  height: 164px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
}

.schedule .text-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 39px;
  width: 592px;
  height: 85px;
  margin-left: 192px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #00000033;
  font-size: 48px;
  letter-spacing: -0.96px;
  line-height: 57.6px;
}

.schedule .navbar {
  display: flex;
  margin-top: 56px;
  width: 560px;
  height: 52px;
  position: relative;
  margin-right: 53px;
  align-items: center;
  justify-content: flex-end;
  gap: var(--variable-collection-spacing-m);
}

.schedule .div {
  margin-left: -118px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: #000000;
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  white-space: nowrap;
  font-style: var(--body-text-font-style);
}

.schedule .text-wrapper-2 {
  margin-left: -13px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: #000000;
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  white-space: nowrap;
  font-style: var(--body-text-font-style);
}

.schedule .text-wrapper-3 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: #000000;
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  white-space: nowrap;
  font-style: var(--body-text-font-style);
}

.schedule .button {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 14px 24px;
  position: relative;
  flex: 0 0 auto;
  background-color: #29276e;
  border-radius: 8px;
  box-shadow: var(--button-shadow);
}

.schedule .text-wrapper-4 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  color: #ffffff;
  font-size: var(--small-text-font-size);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  white-space: nowrap;
  font-style: var(--small-text-font-style);
}

.schedule .text-wrapper-5 {
  position: absolute;
  top: 352px;
  left: 708px;
  width: 701px;
  height: 231px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #72070733;
  font-size: 48px;
  letter-spacing: -0.96px;
  line-height: 57.6px;
}

.schedule .navigation-footer {
  left: 0;
  bottom: 52px;
  height: 264px;
  background-color: #ffffff;
  position: absolute;
  width: 100%;
}

.schedule .items {
  right: 517px;
  display: flex;
  flex-direction: column;
  width: 187px;
  align-items: flex-end;
  justify-content: center;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
  top: 48px;
}

.schedule .text-wrapper-6 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  color: #000000;
  font-size: var(--small-text-font-size);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  font-style: var(--small-text-font-style);
}

.schedule .text-wrapper-7 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  color: #444444;
  font-size: var(--small-text-font-size);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  font-style: var(--small-text-font-style);
}

.schedule .items-2 {
  right: 298px;
  display: flex;
  flex-direction: column;
  width: 187px;
  align-items: flex-end;
  justify-content: center;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
  top: 48px;
}

.schedule .items-3 {
  right: 80px;
  display: flex;
  flex-direction: column;
  width: 187px;
  align-items: flex-end;
  justify-content: center;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
  top: 48px;
}

.schedule .text-wrapper-8 {
  position: absolute;
  top: 52px;
  left: 80px;
  width: 371px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 45px;
}

.schedule .divider {
  position: absolute;
  top: 0;
  left: 80px;
  width: 1280px;
  height: 1px;
  object-fit: cover;
}

.schedule .group {
  position: absolute;
  top: 144px;
  left: 80px;
  width: 333px;
  height: 72px;
}

.schedule .rd {
  position: absolute;
  top: 3px;
  left: 0;
  width: 71px;
  height: 65px;
  aspect-ratio: 1.08;
}

.schedule .img {
  position: absolute;
  top: 0;
  left: 59px;
  width: 274px;
  height: 72px;
  aspect-ratio: 3.8;
}

.schedule .image {
  position: absolute;
  top: 161px;
  left: 123px;
  width: 573px;
  height: 613px;
  aspect-ratio: 0.93;
}

.schedule .cronograma {
  position: absolute;
  top: 774px;
  left: 35px;
  width: 1360px;
  height: 961px;
  aspect-ratio: 1.41;
  object-fit: cover;
}
