.gestion-de-alumnos {
  background-color: #ffffff;
  width: 100%;
  min-width: 2029px;
  min-height: 1345px;
  position: relative;
}

.gestion-de-alumnos .navigation {
  position: absolute;
  width: calc(100% - 2px);
  top: 18px;
  left: 2px;
  height: 164px;
}

.gestion-de-alumnos .text-wrapper {
  position: absolute;
  top: 39px;
  left: 101px;
  width: 592px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 4px 4px #00000040;
  font-family: var(--title-page-font-family);
  font-weight: var(--title-page-font-weight);
  color: #00000033;
  font-size: var(--title-page-font-size);
  letter-spacing: var(--title-page-letter-spacing);
  line-height: var(--title-page-line-height);
  font-style: var(--title-page-font-style);
}

.gestion-de-alumnos .div {
  position: absolute;
  top: 39px;
  left: 892px;
  width: 868px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 4px 4px #00000040;
  font-family: var(--title-page-font-family);
  font-weight: var(--title-page-font-weight);
  color: #00000033;
  font-size: var(--title-page-font-size);
  letter-spacing: var(--title-page-letter-spacing);
  line-height: var(--title-page-line-height);
  font-style: var(--title-page-font-style);
}

.gestion-de-alumnos .image {
  position: absolute;
  top: 50px;
  left: 1783px;
  width: 178px;
  height: 74px;
  aspect-ratio: 2.39;
}

.gestion-de-alumnos .text-wrapper-2 {
  position: absolute;
  top: 1089px;
  left: 1181px;
  width: 289px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.gestion-de-alumnos .img {
  position: absolute;
  top: 1089px;
  left: 1449px;
  width: 42px;
  height: 52px;
  aspect-ratio: 0.81;
}

.gestion-de-alumnos .image-2 {
  position: absolute;
  top: 1089px;
  left: 1119px;
  width: 42px;
  height: 52px;
  aspect-ratio: 0.81;
}

.gestion-de-alumnos .text-wrapper-3 {
  position: absolute;
  top: 409px;
  left: 103px;
  width: 509px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.gestion-de-alumnos .pdf {
  position: absolute;
  top: 605px;
  left: 80px;
  width: 136px;
  height: 136px;
  aspect-ratio: 1;
  object-fit: cover;
}

.gestion-de-alumnos .text-wrapper-4 {
  position: absolute;
  top: 533px;
  left: 111px;
  width: 120px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.gestion-de-alumnos .text-wrapper-5 {
  position: absolute;
  top: 533px;
  left: 311px;
  width: 139px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.gestion-de-alumnos .image-3 {
  position: absolute;
  top: 614px;
  left: 293px;
  width: 175px;
  height: 117px;
  aspect-ratio: 1.5;
  object-fit: cover;
}

.gestion-de-alumnos .p {
  position: absolute;
  top: 807px;
  left: 80px;
  width: 509px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.gestion-de-alumnos .image-4 {
  position: absolute;
  top: 200px;
  left: 155px;
  width: 156px;
  height: 156px;
  aspect-ratio: 1;
  object-fit: cover;
}

.gestion-de-alumnos .text-wrapper-6 {
  position: absolute;
  top: 1275px;
  left: 1555px;
  width: 437px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.gestion-de-alumnos .img-2 {
  position: absolute;
  top: 216px;
  left: 666px;
  width: 1310px;
  height: 826px;
  aspect-ratio: 1.59;
}
