.home {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  min-width: 1440px;
  min-height: 4832px;
  position: relative;
}

.home .navigation {
  position: absolute;
  width: 100%;
  top: 10px;
  left: -1px;
  height: 164px;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
}

.home .text-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 46px;
  width: 592px;
  height: 85px;
  margin-left: 193px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: var(--title-page-font-family);
  font-weight: var(--title-page-font-weight);
  color: #00000033;
  font-size: var(--title-page-font-size);
  letter-spacing: var(--title-page-letter-spacing);
  line-height: var(--title-page-line-height);
  font-style: var(--title-page-font-style);
}

.home .navbar {
  display: flex;
  margin-top: 56px;
  width: 560px;
  height: 52px;
  position: relative;
  margin-right: 80px;
  align-items: center;
  justify-content: flex-end;
  gap: var(--variable-collection-spacing-m);
}

.home .div {
  margin-left: -118px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: #000000;
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  white-space: nowrap;
  font-style: var(--body-text-font-style);
}

.home .text-wrapper-2 {
  margin-left: -13px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: #000000;
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  white-space: nowrap;
  font-style: var(--body-text-font-style);
}

.home .text-wrapper-3 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: #000000;
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  white-space: nowrap;
  font-style: var(--body-text-font-style);
}

.home .button {
  all: unset;
  box-sizing: border-box;
  justify-content: center;
  padding: 14px 24px;
  flex: 0 0 auto;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  background-color: #29276e;
  border-radius: 8px;
  box-shadow: var(--button-shadow);
}

.home .text-wrapper-4 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  color: #ffffff;
  font-size: var(--small-text-font-size);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  white-space: nowrap;
  font-style: var(--small-text-font-style);
}

.home .text-wrapper-5 {
  position: absolute;
  top: 1478px;
  left: calc(50% - 648px);
  width: 391px;
  font-family: "Kavoon-Regular", Helvetica;
  font-weight: 400;
  color: #000347;
  font-size: 64px;
  letter-spacing: -1.28px;
  line-height: normal;
}

.home .frame {
  display: flex;
  width: 1279px;
  align-items: center;
  gap: 32px;
  position: absolute;
  top: 1845px;
  left: 125px;
}

.home .card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.home .copy {
  width: 381px;
  gap: 4px;
  position: relative;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.home .text-wrapper-6 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
}

.home .p {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #828282;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
}

.home .text-wrapper-7 {
  position: absolute;
  top: 3289px;
  left: calc(50% - 112px);
  width: 693px;
  font-family: "Kavoon-Regular", Helvetica;
  font-weight: 400;
  color: #000347;
  font-size: 64px;
  letter-spacing: -1.28px;
  line-height: normal;
  white-space: nowrap;
}

.home .text-wrapper-8 {
  position: absolute;
  top: 3415px;
  left: 276px;
  width: 608px;
  font-family: "Kavivanar-Regular", Helvetica;
  font-weight: 400;
  color: #000347;
  font-size: 48px;
  letter-spacing: 0;
  line-height: 72px;
  white-space: nowrap;
}

.home .PAN-CON-QUESO {
  top: 3484px;
  left: 178px;
  height: 339px;
  aspect-ratio: 1.04;
  position: absolute;
  width: 353px;
}

.home .text-wrapper-9 {
  position: absolute;
  top: 3749px;
  left: 80px;
  width: 608px;
  height: 478px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Jersey 25-Regular", Helvetica;
  font-weight: 400;
  color: #060606;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 45px;
}

.home .img {
  top: 3464px;
  left: calc(50% + 177px);
  height: 347px;
  aspect-ratio: 1.02;
  position: absolute;
  width: 353px;
}

.home .text-wrapper-10 {
  position: absolute;
  top: 3416px;
  left: 762px;
  width: 608px;
  font-family: "Kavivanar-Regular", Helvetica;
  font-weight: 400;
  color: #000347;
  font-size: 48px;
  text-align: center;
  letter-spacing: 0;
  line-height: 72px;
  white-space: nowrap;
}

.home .text-wrapper-11 {
  position: absolute;
  top: 3793px;
  left: calc(50% + 42px);
  width: 608px;
  height: 341px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Jersey 25-Regular", Helvetica;
  font-weight: 400;
  color: #060606;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: 45px;
}

.home .text-wrapper-12 {
  position: absolute;
  top: 2180px;
  left: 80px;
  width: 624px;
  font-family: "Kavoon-Regular", Helvetica;
  font-weight: 400;
  color: #000347;
  font-size: 64px;
  letter-spacing: -1.28px;
  line-height: normal;
}

.home .text {
  display: flex;
  flex-direction: column;
  width: 586px;
  align-items: flex-end;
  gap: 48px;
  position: absolute;
  top: 2269px;
  left: 72px;
}

.home .text-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.home .text-wrapper-13 {
  position: relative;
  width: 515px;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
}

.home .text-wrapper-14 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 515px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #828282;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
}

.home .buttons {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: 16px;
  position: absolute;
  top: 2965px;
  left: 1263px;
}

.home .div-wrapper {
  all: unset;
  box-sizing: border-box;
  padding: 12px 24px;
  flex: 0 0 auto;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  background-color: #29276e;
  border-radius: 8px;
  box-shadow: var(--button-shadow);
}

.home .text-wrapper-15 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.home .page-title {
  display: flex;
  width: 1714px;
  height: 218px;
  align-items: flex-start;
  gap: 24px;
  position: absolute;
  top: 224px;
  left: 80px;
  border: 1px solid;
  border-color: transparent;
  box-shadow: 0px 4px 4px #00000040;
}

.home .roller-speed-impulsa {
  position: relative;
  width: 1018px;
  margin-top: -1px;
  font-family: "Kavoon-Regular", Helvetica;
  font-weight: 400;
  color: #000347;
  font-size: 128px;
  letter-spacing: -2.56px;
  line-height: normal;
}

.home .span {
  letter-spacing: -3.28px;
}

.home .text-wrapper-16 {
  font-family: "Kavivanar-Regular", Helvetica;
  font-size: 48px;
  letter-spacing: -0.46px;
}

.home .button-2 {
  all: unset;
  box-sizing: border-box;
  padding: 20px 32px;
  flex: 0 0 auto;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  background-color: #29276e;
  border-radius: 8px;
  box-shadow: var(--button-shadow);
}

.home .text-3 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 672px;
  margin-top: -1px;
  margin-right: -181px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000bf;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
}

.home .image {
  position: absolute;
  top: 562px;
  left: 91px;
  width: 1236px;
  height: 690px;
  aspect-ratio: 1.79;
  object-fit: cover;
}

.home .image-2 {
  position: absolute;
  top: 1560px;
  left: 137px;
  width: 299px;
  height: 261px;
  aspect-ratio: 1.15;
}

.home .image-3 {
  position: absolute;
  top: 1560px;
  left: 575px;
  width: 290px;
  height: 259px;
  aspect-ratio: 1.12;
  object-fit: cover;
}

.home .image-4 {
  position: absolute;
  top: 1560px;
  left: 1019px;
  width: 297px;
  height: 258px;
  aspect-ratio: 1.15;
}

.home .nunca-se-deja-ver {
  position: absolute;
  top: 1994px;
  left: 125px;
  width: 311px;
  height: 53px;
  aspect-ratio: 5.83;
}

.home .nunca-se-deja-ver-2 {
  position: absolute;
  top: 1994px;
  left: 999px;
  width: 311px;
  height: 53px;
  aspect-ratio: 5.83;
}

.home .nunca-se-deja-ver-3 {
  position: absolute;
  top: 2005px;
  left: 555px;
  width: 299px;
  height: 52px;
  aspect-ratio: 5.74;
}

.home .navigation-footer {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: 264px;
  background-color: #ffffff;
}

.home .items {
  display: flex;
  flex-direction: column;
  width: 187px;
  align-items: flex-end;
  justify-content: center;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
  top: 48px;
  right: 517px;
}

.home .text-wrapper-17 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  color: #000000;
  font-size: var(--small-text-font-size);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  font-style: var(--small-text-font-style);
}

.home .text-wrapper-18 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  color: #444444;
  font-size: var(--small-text-font-size);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  font-style: var(--small-text-font-style);
}

.home .items-2 {
  display: flex;
  flex-direction: column;
  width: 187px;
  align-items: flex-end;
  justify-content: center;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
  top: 48px;
  right: 298px;
}

.home .items-3 {
  display: flex;
  flex-direction: column;
  width: 187px;
  align-items: flex-end;
  justify-content: center;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
  top: 48px;
  right: 80px;
}

.home .text-wrapper-19 {
  position: absolute;
  top: 52px;
  left: 80px;
  width: 371px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 45px;
}

.home .divider {
  top: 0;
  left: 80px;
  position: absolute;
  width: 1280px;
  height: 1px;
  object-fit: cover;
}

.home .group {
  position: absolute;
  top: 144px;
  left: 80px;
  width: 333px;
  height: 72px;
}

.home .rd {
  position: absolute;
  top: 3px;
  left: 0;
  width: 71px;
  height: 65px;
  aspect-ratio: 1.08;
}

.home .rd-2 {
  position: absolute;
  top: 0;
  left: 59px;
  width: 274px;
  height: 72px;
  aspect-ratio: 3.8;
}

.home .image-5 {
  position: absolute;
  top: 60px;
  left: 80px;
  width: 88px;
  height: 88px;
  aspect-ratio: 1;
  object-fit: cover;
}

.home .coach {
  position: absolute;
  top: 2005px;
  left: 1555px;
  width: 1442px;
  height: 3603px;
  background-color: #ffffff;
  overflow: hidden;
}

.home .navigation-2 {
  position: absolute;
  width: calc(100% - 2px);
  top: 0;
  left: 0;
  height: 164px;
  display: flex;
  justify-content: space-between;
}

.home .text-wrapper-20 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 39px;
  width: 592px;
  height: 85px;
  margin-left: 101px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: var(--title-page-font-family);
  font-weight: var(--title-page-font-weight);
  color: #00000033;
  font-size: var(--title-page-font-size);
  letter-spacing: var(--title-page-letter-spacing);
  line-height: var(--title-page-line-height);
  font-style: var(--title-page-font-style);
}

.home .items-4 {
  display: flex;
  margin-top: 56px;
  width: 560px;
  height: 52px;
  position: relative;
  margin-right: 53px;
  align-items: center;
  justify-content: flex-end;
  gap: var(--variable-collection-spacing-m);
}

.home .copy-2 {
  width: 35.78%;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
  top: 926px;
  left: 5.55%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.home .text-wrapper-21 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 40px;
  letter-spacing: 0;
  line-height: 48px;
}

.home .text-wrapper-22 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  font-family: var(--subheading-font-family);
  font-weight: var(--subheading-font-weight);
  color: #828282;
  font-size: var(--subheading-font-size);
  letter-spacing: var(--subheading-letter-spacing);
  line-height: var(--subheading-line-height);
  font-style: var(--subheading-font-style);
}

.home .text-wrapper-23 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 516px;
  height: 108px;
  font-family: var(--subheading-font-family);
  font-weight: var(--subheading-font-weight);
  color: #828282;
  font-size: var(--subheading-font-size);
  letter-spacing: var(--subheading-letter-spacing);
  line-height: var(--subheading-line-height);
  font-style: var(--subheading-font-style);
}

.home .button-wrapper {
  position: relative;
  width: 146px;
  height: 60px;
}

.home .button-3 {
  all: unset;
  box-sizing: border-box;
  padding: 12px 24px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  background-color: #29276e;
  border-radius: 8px;
  box-shadow: var(--button-shadow);
}

.home .buttons-2 {
  position: absolute;
  top: 2052px;
  left: 129px;
  width: 146px;
  height: 60px;
  display: flex;
}

.home .button-4 {
  all: unset;
  box-sizing: border-box;
  width: 146px;
  height: 60px;
  padding: 12px 24px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  background-color: #29276e;
  border-radius: 8px;
  box-shadow: var(--button-shadow);
}

.home .buttons-3 {
  position: absolute;
  top: 1598px;
  left: 854px;
  width: 146px;
  height: 60px;
  display: flex;
}

.home .copy-3 {
  width: 35.78%;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
  top: 1406px;
  left: 58.53%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.home .copy-4 {
  width: 35.78%;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
  top: 2867px;
  left: 11.17%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.home .copy-5 {
  width: 35.78%;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
  top: 1845px;
  left: 9.85%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.home .copy-6 {
  width: 516px;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
  top: 2349px;
  left: 802px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.home .image-wrapper {
  position: absolute;
  width: 43.27%;
  top: 870px;
  left: 51.04%;
  height: 400px;
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  background: linear-gradient(
    0deg,
    rgba(247, 247, 247, 1) 0%,
    rgba(247, 247, 247, 1) 100%
  );
}

.home .image-6 {
  margin-top: -2905px;
  width: 607px;
  height: 460px;
  margin-left: -351px;
  aspect-ratio: 1.32;
}

.home .image-7 {
  position: absolute;
  top: -622px;
  left: 497px;
  width: 494px;
  height: 419px;
  aspect-ratio: 1.18;
}

.home .image-8 {
  position: absolute;
  top: -287px;
  left: 1212px;
  width: 460px;
  height: 481px;
  aspect-ratio: 0.96;
}

.home .image-9 {
  position: absolute;
  top: 689px;
  left: 1189px;
  width: 483px;
  height: 493px;
  aspect-ratio: 0.98;
}

.home .buttons-4 {
  position: absolute;
  top: 2563px;
  left: 854px;
  width: 146px;
  height: 60px;
  display: flex;
}

.home .buttons-5 {
  position: absolute;
  top: 3035px;
  left: 153px;
  width: 146px;
  height: 60px;
  display: flex;
}

.home .navigation-footer-2 {
  position: absolute;
  width: calc(100% - 2px);
  left: 2px;
  bottom: 0;
  height: 264px;
  background-color: #ffffff;
  overflow: hidden;
}

.home .divider-2 {
  top: -5343px;
  left: 446px;
  position: absolute;
  width: 1280px;
  height: 1px;
  object-fit: cover;
}

.home .rd-3 {
  position: absolute;
  top: -5341px;
  left: 366px;
  width: 71px;
  height: 65px;
  aspect-ratio: 1.08;
}

.home .rd-4 {
  position: absolute;
  top: -5344px;
  left: 425px;
  width: 274px;
  height: 72px;
  aspect-ratio: 3.8;
}

.home .image-10 {
  position: absolute;
  top: -1908px;
  left: 718px;
  width: 707px;
  height: 707px;
  aspect-ratio: 1;
  object-fit: cover;
}

.home .image-11 {
  position: absolute;
  top: 2158px;
  left: 690px;
  right: 20px;
  width: 774px;
  height: 690px;
  aspect-ratio: 1.12;
}
html {
  overflow-x: hidden;
}

body {
  zoom: 0.8;
  transform-origin: top center;
}
