:root {
  --small-text-font-family: "Inter", Helvetica;
  --small-text-font-weight: 500;
  --small-text-font-size: 16px;
  --small-text-letter-spacing: 0px;
  --small-text-line-height: 150%;
  --small-text-font-style: normal;
  --title-page-font-family: "Inter", Helvetica;
  --title-page-font-weight: 700;
  --title-page-font-size: 48px;
  --title-page-letter-spacing: -0.96px;
  --title-page-line-height: 120.00000476837158%;
  --title-page-font-style: normal;
  --button-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  --variable-collection-spacing-m: 48px;
  --variable-collection-spacing-s: 24px;
}
