.paneles {
  width: 100%;
  min-width: 1442px;
  min-height: 2581px;
  display: flex;
}

.paneles .instructor {
  margin-top: 31px;
  width: 1442px;
  height: 2496px;
  position: relative;
  background-color: #ffffff;
  overflow: hidden;
}

.paneles .navigation-footer {
  left: 0;
  bottom: 70px;
  height: 264px;
  position: absolute;
  width: calc(100% - 2px);
  background-color: #ffffff;
}

.paneles .items {
  right: 517px;
  display: flex;
  flex-direction: column;
  width: 187px;
  align-items: flex-end;
  justify-content: center;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
  top: 48px;
}

.paneles .text-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  color: #000000;
  font-size: var(--small-text-font-size);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  font-style: var(--small-text-font-style);
}

.paneles .div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  color: #444444;
  font-size: var(--small-text-font-size);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  font-style: var(--small-text-font-style);
}

.paneles .items-2 {
  right: 298px;
  display: flex;
  flex-direction: column;
  width: 187px;
  align-items: flex-end;
  justify-content: center;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
  top: 48px;
}

.paneles .items-3 {
  right: 80px;
  display: flex;
  flex-direction: column;
  width: 187px;
  align-items: flex-end;
  justify-content: center;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
  top: 48px;
}

.paneles .text-wrapper-2 {
  position: absolute;
  top: 52px;
  left: 80px;
  width: 371px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 45px;
}

.paneles .divider {
  position: absolute;
  top: 0;
  left: 80px;
  width: 1280px;
  height: 1px;
  object-fit: cover;
}

.paneles .group {
  position: absolute;
  top: 144px;
  left: 80px;
  width: 333px;
  height: 72px;
}

.paneles .rd {
  position: absolute;
  top: 3px;
  left: 0;
  width: 71px;
  height: 65px;
  aspect-ratio: 1.08;
}

.paneles .img {
  position: absolute;
  top: 0;
  left: 59px;
  width: 274px;
  height: 72px;
  aspect-ratio: 3.8;
}

.paneles .vector {
  position: absolute;
  top: 915px;
  left: 802px;
  width: 39px;
  height: 27px;
}

.paneles .buttons-wrapper {
  position: absolute;
  width: 282px;
  height: 60px;
  top: 781px;
  left: 178px;
  display: flex;
}

.paneles .buttons {
  width: 282px;
  display: flex;
}

.paneles .button {
  all: unset;
  box-sizing: border-box;
  width: 282px;
  display: inline-flex;
  height: 60px;
  position: relative;
  align-items: center;
  gap: 8px;
  padding: 12px 24px;
  background-color: #29276e;
  border-radius: 8px;
  box-shadow: var(--button-shadow);
}

.paneles .text-wrapper-3 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1px;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 36px;
  white-space: nowrap;
}

.paneles .navigation {
  top: 11px;
  left: -27px;
  height: 164px;
  display: flex;
  gap: 91px;
  overflow: hidden;
  position: absolute;
  width: calc(100% - 2px);
  background-color: #ffffff;
}

.paneles .text-wrapper-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 46px;
  width: 592px;
  height: 85px;
  margin-left: 193px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: var(--title-page-font-family);
  font-weight: var(--title-page-font-weight);
  color: #00000033;
  font-size: var(--title-page-font-size);
  letter-spacing: var(--title-page-letter-spacing);
  line-height: var(--title-page-line-height);
  font-style: var(--title-page-font-style);
}

.paneles .text-wrapper-5 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 46px;
  width: 592px;
  height: 85px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: var(--title-page-font-family);
  font-weight: var(--title-page-font-weight);
  color: #00000033;
  font-size: var(--title-page-font-size);
  letter-spacing: var(--title-page-letter-spacing);
  line-height: var(--title-page-line-height);
  font-style: var(--title-page-font-style);
}

.paneles .image {
  position: absolute;
  top: 441px;
  left: 770px;
  width: 496px;
  height: 370px;
  aspect-ratio: 1.34;
}

.paneles .image-2 {
  position: absolute;
  top: 982px;
  left: 165px;
  width: 496px;
  height: 371px;
  aspect-ratio: 1.34;
}

.paneles .div-wrapper {
  position: absolute;
  width: 289px;
  height: 60px;
  top: 1323px;
  left: 750px;
  display: flex;
}

.paneles .button-wrapper {
  width: 289px;
  display: flex;
}

.paneles .button-2 {
  all: unset;
  box-sizing: border-box;
  width: 289px;
  display: inline-flex;
  height: 60px;
  position: relative;
  align-items: center;
  gap: 8px;
  padding: 12px 24px;
  background-color: #29276e;
  border-radius: 8px;
  box-shadow: var(--button-shadow);
}

.paneles .image-3 {
  position: absolute;
  top: 1544px;
  left: 720px;
  width: 546px;
  height: 383px;
  aspect-ratio: 1.43;
}

.paneles .group-2 {
  position: absolute;
  width: 340px;
  height: 60px;
  top: 1897px;
  left: 178px;
  display: flex;
}

.paneles .buttons-2 {
  width: 340px;
  display: flex;
}

.paneles .button-3 {
  all: unset;
  box-sizing: border-box;
  width: 340px;
  display: inline-flex;
  height: 60px;
  position: relative;
  align-items: center;
  gap: 8px;
  padding: 12px 24px;
  background-color: #29276e;
  border-radius: 8px;
  box-shadow: var(--button-shadow);
}

.paneles .text-wrapper-6 {
  position: absolute;
  top: 313px;
  left: 165px;
  width: 592px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 4px 4px #00000040;
  font-family: var(--title-page-font-family);
  font-weight: var(--title-page-font-weight);
  color: #00000033;
  font-size: var(--title-page-font-size);
  letter-spacing: var(--title-page-letter-spacing);
  line-height: var(--title-page-line-height);
  font-style: var(--title-page-font-style);
}

.paneles .text-wrapper-7 {
  position: absolute;
  top: 939px;
  left: 793px;
  width: 592px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 4px 4px #00000040;
  font-family: var(--title-page-font-family);
  font-weight: var(--title-page-font-weight);
  color: #00000033;
  font-size: var(--title-page-font-size);
  letter-spacing: var(--title-page-letter-spacing);
  line-height: var(--title-page-line-height);
  font-style: var(--title-page-font-style);
}

.paneles .text-wrapper-8 {
  position: absolute;
  top: 1484px;
  left: 178px;
  width: 592px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 4px 4px #00000040;
  font-family: var(--title-page-font-family);
  font-weight: var(--title-page-font-weight);
  color: #00000033;
  font-size: var(--title-page-font-size);
  letter-spacing: var(--title-page-letter-spacing);
  line-height: var(--title-page-line-height);
  font-style: var(--title-page-font-style);
}

.paneles .p {
  position: absolute;
  top: 436px;
  left: 178px;
  width: 543px;
  height: 357px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 48px;
}

.paneles .text-wrapper-9 {
  position: absolute;
  top: 982px;
  left: 750px;
  width: 582px;
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 48px;
}

.paneles .text-wrapper-10 {
  position: absolute;
  top: 1544px;
  left: 168px;
  width: 582px;
  height: 380px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 32px;
  letter-spacing: 0;
  line-height: 48px;
}
