.sign-up {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  min-width: 320px;   /* tamaño mínimo normal para móviles */
  min-height: 100vh;  /* ocupa solo el alto visible */

  position: relative;
}

.sign-up .navigation {
  position: absolute;
  width: 100%;
  top: 16px;
  left: 28px;
  height: 164px;
  background-color: #ffffff;
}

.sign-up .text-wrapper {
  position: absolute;
  top: 47px;
  left: 181px;
  width: 592px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 4px 4px #00000040;
  font-family: var(--title-page-font-family);
  font-weight: var(--title-page-font-weight);
  color: #00000033;
  font-size: var(--title-page-font-size);
  letter-spacing: var(--title-page-letter-spacing);
  line-height: var(--title-page-line-height);
  font-style: var(--title-page-font-style);
}

.sign-up .items {
  display: flex;
  width: 818px;
  height: 127px;
  align-items: center;
  justify-content: flex-end;
  gap: var(--variable-collection-spacing-m);
  position: absolute;
  top: 28px;
  right: 196px;
}

.sign-up .button {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 190px;
  height: 81px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 14px 24px;
  position: relative;
  background-color: #29276e;
  border-radius: 8px;
  box-shadow: var(--button-shadow);
}

.sign-up .div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  transform: rotate(0.26deg);
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #ffffff;
  font-size: 25px;
  letter-spacing: 0;
  line-height: 37.5px;
  white-space: nowrap;
}

.sign-up .navigation-footer {
  position: absolute;
  width: 100%;
  left: 1px;
  bottom: 0;
  height: 264px;
  background-color: #ffffff;
}

.sign-up .items-2 {
  right: 517px;
  display: flex;
  flex-direction: column;
  width: 187px;
  align-items: flex-end;
  justify-content: center;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
  top: 48px;
}

.sign-up .text-wrapper-2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  color: #000000;
  font-size: var(--small-text-font-size);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  font-style: var(--small-text-font-style);
}

.sign-up .text-wrapper-3 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  color: #444444;
  font-size: var(--small-text-font-size);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  font-style: var(--small-text-font-style);
}

.sign-up .items-3 {
  right: 298px;
  display: flex;
  flex-direction: column;
  width: 187px;
  align-items: flex-end;
  justify-content: center;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
  top: 48px;
}

.sign-up .items-4 {
  right: 80px;
  display: flex;
  flex-direction: column;
  width: 187px;
  align-items: flex-end;
  justify-content: center;
  gap: var(--variable-collection-spacing-s);
  position: absolute;
  top: 48px;
}

.sign-up .text-wrapper-4 {
  position: absolute;
  top: 52px;
  left: 80px;
  width: 371px;
  height: 92px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-Black", Helvetica;
  font-weight: 900;
  color: #000000;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 45px;
}

.sign-up .divider {
  position: absolute;
  top: 0;
  left: 80px;
  width: 1280px;
  height: 1px;
  object-fit: cover;
}

.sign-up .group {
  position: absolute;
  top: 144px;
  left: 80px;
  width: 333px;
  height: 72px;
}

.sign-up .rd {
  position: absolute;
  top: 3px;
  left: 0;
  width: 71px;
  height: 65px;
  aspect-ratio: 1.08;
}

.sign-up .img {
  position: absolute;
  top: 0;
  left: 59px;
  width: 274px;
  height: 72px;
  aspect-ratio: 3.8;
}

.sign-up .form {
  display: flex;
  flex-wrap: wrap;
  width: 43.47%;
  align-items: flex-start;
  gap: var(--variable-collection-spacing-SM);
  position: absolute;
  top: 870px;
  left: 9.72%;
}

.sign-up .input {
  width: 295px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
}

.sign-up .text-wrapper-5 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  color: #000000;
  font-size: var(--small-text-font-size);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  font-style: var(--small-text-font-style);
}

.sign-up .field {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  padding: 12px 16px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid;
  border-color: #dfdfdf;
  box-shadow: var(--button-shadow);
}

.sign-up .label {
  position: relative;
  flex: 1;
  margin-top: -1px;
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  color: #828282;
  font-size: var(--small-text-font-size);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  font-style: var(--small-text-font-style);
}

.sign-up .input-2 {
  width: 297px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
}

.sign-up .input-3 {
  width: 626px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
}

.sign-up .label-wrapper {
  padding: 12px 16px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid;
  border-color: #dfdfdf;
  box-shadow: var(--button-shadow);
  flex: 1;
  margin-top: -1px;
  font-family: var(--small-text-font-family);
  font-weight: var(--small-text-font-weight);
  color: #828282;
  font-size: var(--small-text-font-size);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  font-style: var(--small-text-font-style);
}

.sign-up .input-4 {
  width: 626px;
  height: 194px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  position: relative;
}

.sign-up .div-wrapper {
  all: unset;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 16px 32px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: #29276e;
  border-radius: 8px;
  box-shadow: var(--button-shadow);
}

.sign-up .text-wrapper-6 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: #ffffff;
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  white-space: nowrap;
  font-style: var(--body-text-font-style);
}

.sign-up .form-log-in {
  display: flex;
  flex-direction: column;
  width: 614px;
  height: 398px;
  align-items: flex-start;
  gap: var(--size-space-600);
  padding: var(--size-space-600);
  position: absolute;
  top: 282px;
  left: 140px;
  background-color: #29276e;
  border-radius: var(--size-radius-200);
  border: 1px solid;
  border-color: var(--color-border-default-default);
}

.sign-up .input-field {
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--size-space-200);
  position: relative;
}

.sign-up .label-2 {
  color: #fffafa;
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--body-base-font-family);
  font-weight: var(--body-base-font-weight);
  font-size: var(--body-base-font-size);
  letter-spacing: var(--body-base-letter-spacing);
  line-height: var(--body-base-line-height);
  font-style: var(--body-base-font-style);
  background: transparent;
  border: none;
  padding: 0;
}

.sign-up .value {
  min-width: 240px;
  padding: var(--size-space-300) var(--size-space-400) var(--size-space-300)
    var(--size-space-400);
  position: relative;
  align-self: stretch;
  width: 100%;
  margin-bottom: -1px;
  margin-left: -1px;
  margin-right: -1px;
  background-color: var(--color-background-default-default);
  border-radius: var(--size-radius-200);
  overflow: hidden;
  border: 1px solid;
  border-color: var(--color-border-default-default);
  flex: 1;
  margin-top: -0.5px;
  font-family: var(--single-line-body-base-font-family);
  font-weight: var(--single-line-body-base-font-weight);
  color: #0c0b0b;
  font-size: var(--single-line-body-base-font-size);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  font-style: var(--single-line-body-base-font-style);
}

.sign-up .label-3 {
  color: #ffffff;
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--body-base-font-family);
  font-weight: var(--body-base-font-weight);
  font-size: var(--body-base-font-size);
  letter-spacing: var(--body-base-letter-spacing);
  line-height: var(--body-base-line-height);
  font-style: var(--body-base-font-style);
}

.sign-up .value-wrapper {
  display: flex;
  min-width: 240px;
  align-items: center;
  padding: var(--size-space-300) var(--size-space-400) var(--size-space-300)
    var(--size-space-400);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-bottom: -1px;
  margin-left: -1px;
  margin-right: -1px;
  background-color: var(--color-background-default-default);
  border-radius: var(--size-radius-200);
  overflow: hidden;
  border: 1px solid;
  border-color: var(--color-border-default-default);
}

.sign-up .value-2 {
  position: relative;
  flex: 1;
  margin-top: -0.5px;
  opacity: 0.5;
  font-family: var(--single-line-body-base-font-family);
  font-weight: var(--single-line-body-base-font-weight);
  color: #0c0b0b;
  font-size: var(--single-line-body-base-font-size);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  font-style: var(--single-line-body-base-font-style);
}

.sign-up .button-group {
  display: flex;
  align-items: center;
  gap: var(--size-space-400);
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #29276e;
  box-shadow: 0px 4px 4px #00000040;
}

.sign-up .button-2 {
  all: unset;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-space-200);
  padding: var(--size-space-300);
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: #ffffff;
  border-radius: var(--size-radius-200);
  overflow: hidden;
  box-shadow: 0px 4px 4px #00000040;
}

.sign-up .button-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--single-line-body-base-font-family);
  font-weight: var(--single-line-body-base-font-weight);
  color: #000000;
  font-size: var(--single-line-body-base-font-size);
  letter-spacing: var(--single-line-body-base-letter-spacing);
  line-height: var(--single-line-body-base-line-height);
  white-space: nowrap;
  font-style: var(--single-line-body-base-font-style);
}

.sign-up .text-link {
  display: flex;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.sign-up .text-link-2 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-link-font-family);
  font-weight: var(--body-link-font-weight);
  color: #ffffff;
  font-size: var(--body-link-font-size);
  letter-spacing: var(--body-link-letter-spacing);
  line-height: var(--body-link-line-height);
  text-decoration: underline;
  white-space: nowrap;
  font-style: var(--body-link-font-style);
}

.sign-up .page-title {
  display: flex;
  flex-direction: column;
  width: 589px;
  align-items: flex-start;
  gap: 24px;
  position: absolute;
  top: 882px;
  left: 805px;
  border: 1px solid;
  border-color: #000000;
  box-shadow: 0px 4px 4px #00000040;
}

.sign-up .roller-speed-impulsa {
  position: relative;
  width: 632px;
  height: 237px;
  margin-top: -1px;
  margin-right: -43px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 64px;
  letter-spacing: -1.28px;
  line-height: normal;
}

.sign-up .p {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 477px;
  height: 122px;
  font-family: var(--subheading-font-family);
  font-weight: var(--subheading-font-weight);
  color: #000000bf;
  font-size: var(--subheading-font-size);
  letter-spacing: var(--subheading-letter-spacing);
  line-height: var(--subheading-line-height);
  font-style: var(--subheading-font-style);
}

.sign-up .image {
  position: absolute;
  top: 306px;
  left: 799px;
  width: 583px;
  height: 409px;
  aspect-ratio: 1.43;
}
